<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width">
        {% if title %}
        <title> Pitch in 60-{{title}} </title>
        {% else %}
        <title>Pitch in 60</title>
        {% endif %}
        {% extends 'bootstrap/base.html'%}
        <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </head>
    <body>
      
      {% block content %}
      
      {% endblock %}
    </body>
</html>