{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width">
        {% if title %}
        <title>{{title}} </title>
        {% else %}
        <title>Perfect-Pitch</title>
        {% endif %}
        {%block styles%}
        {{ super() }}
        <style>
            body{
                font-family: 'El Messiri', sans-serif;
                background-color: rgba(208, 226, 231, 0.966);
                font-size: 2 em;
                font-weight: bold;
            }
        </style>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css?q=1280549780">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>