<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width">
        {% if title %}
        <title> Pitch-{{title}} </title>
        {% else %}
        <title>Pitch in 60</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        {% extends 'bootstrap/base.html'%}
        <!-- Navigation block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </head>
    <body>
          <!-- content block -->
          {% block content %}
          
          {% endblock %}
    </body>
</html>