{% extends 'base.html' %}

{% block content%}
<div class="col-md-7">
  <div class="content-section">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Category</h3>
        <p class='text-muted'>Where do you want to go?
      </div>
        <div class="panel-footer">
          <ul class="list-group">
            <a href = "{{url_for('main.pitch_advert')}}"><li class="list-group-item list-group-item-light">Advertisements</li></a>
            <a href = "{{url_for('main.pitch_products')}}"><li class="list-group-item list-group-item-light">Products</li></a>
            <a href = "{{url_for('main.pitch_projects')}}"><li class="list-group-item list-group-item-light">Projects</li></a>
            <a href = "{{url_for('main.pitch_ideas')}}"><li class="list-group-item list-group-item-light">Business Ideas</li></a>
            <a href = "{{url_for('main.pitch_jokes')}}"><li class="list-group-item list-group-item-light">Jokes</li></a>
            <a href = "{{url_for('main.pitch_unpopular')}}"><li class="list-group-item list-group-item-light">Unpopular Opinions</li></a>
            </ul>
        </div>
    </div>
     
       
        <button class="btn btn-outline-info"><a href="{{url_for('main.new_pitch')}}"><strong><i class="fas fa-plus"></i>  Add your pitch</strong></a></button></br><br>
      </p>
    </div>
  </div>
  <footer class='footer' style='position:fixed;left:0;bottom:0;padding:10px;background-color:rgb(19, 20, 20);text-align:center;width:100%;color:white;'>Copyright 2020 | Perfect-Pitch</footer> 
{% endblock %}

