<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width= device-width">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

{% extends 'base.html' %}
</head>
        <body> 
        {% block content%}
                <main role="main" class="container">
                        <div class="row">
                          <div class="col-md-8">
                                {% for pitch in pitches %}
                                <article class="media content-section">
                                <div class="media-body">
                                <div class="article-metadata">
                                <a class="mr-2" href="#">{{ pitch.author }}</a>
                                <small class="text-muted">{{ pitch.date_posted }}</small>
                                </div>
                                <h2><a class="article-title" href="#">{{ pitch.title }}</a></h2>
                                <p class="article-content">{{ pitch.content }}</p>
                                </div>
                                </article>
                        {% endfor %}
                          </div>
                          <div class="col-md-4">
                            <div class="content-section">
                              <h3>Category</h3>
                              <p class='text-muted'>Where do you want to go?
                                <ul class="list-group">
                                <a href = "#"><li class="list-group-item list-group-item-light">Interview pitch</li></a>
                                <a href = "#"><li class="list-group-item list-group-item-light">Product pitch</li></a>
                                <a href = "#"><li class="list-group-item list-group-item-light">Project pitch</li></a>
                                <a href = "#"><li class="list-group-item list-group-item-light">Idea Pitch</li></a>
                                </ul>
                              </p>
                            </div>
                          </div>
                        </div>
                      </main>                      
        {% endblock %}

        </body>
</html>

       