{% extends 'base.html' %}
<style>
  a::hover{
      cursor: pointer;
  }
  </style>
  {% block content %}
    <div class="container">
      <header style="padding: 10%;">
        <h1 class="text-center">
          Welcome to Perfect-Pitch, Your Pitching journey starts here!<br>
          One minute could make or break you, use it wisely and use it well, 
          impart your knowledge and feel free to share!
        </h1>
        <a href="{{url_for('main.home')}}"><h3 style="text-align:center; color:none;" class='text-muted'>Explore our different Categories</h3>
        </a>
      </header>
    </div> 
  {% endblock %}


       